@tailwind base;
@tailwind components;
@tailwind utilities;

.thick-icon {
  stroke-width: 6px; /* Adjust the value to make the lines thicker */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}